.header
{
    background-image: url("../../Assets/head-Cover.jpg");
    background-size: cover;
    background-position: fixed;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.header h1{
    font-size: 50px;
}

.header p{
    text-align: center;
}