footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 0 100px;
    background-color: #080808;
}

footer h1{
    font-size: 50px;
}

footer .links
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

footer .links .link
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .social img{
    width: 50px;
}

@media (max-width:1200px){
    footer{
        flex-direction: column;
        padding: 50px 30px;
        height: auto;
        justify-content: center;
        gap: 50px;
    }

    footer .links
    {
        gap: 20px;
    }

}

@media(max-width:450px){
    footer .links .link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}